SESSION_COOKIE_NAME="amseta_session"
REDIS_URL=""
RATE_LIMIT_REDIS_PREFIX="amseta:rate-limit"
EMAIL_FROM_ADDRESS="hello@amseta.com"
EMAIL_REPORT_URL="https://amseta.com/demo"
TURNSTILE_SECRET_KEY=""
TURNSTILE_EXPECTED_HOSTNAME="amseta.com"
WAITLIST_REQUIRE_CONFIRMATION="false"
WAITLIST_CONFIRMATION_SECRET=""
